.loadingIndicator {
    display: flex;
    flex-direction: column;
    margin: auto;
    stroke: #000;

}

.reviewWidget {
    display: flex;
    width:100%;
    min-height: 400px;
    transition:0.5s ease-in-out all;
}

.reviewWidget--loading {
    min-width: 500px;
    align-items: center;
    justify-items: center;
}

.widgetTable {
    width:100%;
}

.widgetTable td {
    padding:10px;
}